<div class="upper-container-r">
    <table class="mytable-details">
        <tr id="th-details">
            <th></th>
            <th>Request ID</th>
            <th>Supplier</th>
            <th>Material Type</th>
            <th>Quantity</th>

            <th>shipping address</th>

        </tr>
        <tr id="tr-details">
            <td></td>
            <td><b>{{requestid}}</b></td>
            <td><b>{{transactiondetails0.requestto}} </b></td>
            <td><b>{{transactiondetails0.materialtype}}</b></td>
            <td><b>{{transactiondetails0.Quantity}}</b></td>

            <td><b>{{transactiondetails0.address}}</b></td>

        </tr>
    </table>
</div>
<div class="details-container">

    <div class="details-column">

        <div class="top-image">
            {{#if isShowRequestInitaited}}
            <img src="assets/images/requests.svg" alt="Smiley face" style="background:#499EF6;border-radius: 50%;" height="60" width="60">
            {{/if}}
          {{#if isShowRequestAccept}}
            <img src="assets/images/requests.svg" alt="Smiley face" style="background:#68DC83;border-radius: 50%;" height="60" width="60">
        {{/if}}
        {{#if isShowQuotationRaised}}
         <img src="assets/images/quotation.svg" alt="Smiley face" style="background:#499EF6;border-radius: 50%;" height="60" width="60">
        {{/if}}
        </div>
        <div class="vl-details">
            {{#if isShowRequestInitaited}}
            <div class="oval-4"></div>
            {{/if}}
            {{#if isShowRequestAccept}}
            <img src="assets/images/Checkbox-unselected.svg" alt="Smiley face"style="background:#68DC83;border-radius: 50%;margin-top:2cm;	margin-left: -2.55mm;"height="24" width="24">
        {{/if}}
        {{#if isShowQuotationRaised}}
            <div class="oval-4"></div>
            {{/if}}

        </div>
        <div class="vl-details-1">
            {{#if isShowQuotationRaised}}
    <img src="assets/images/Checkbox-unselected.svg" alt="Smiley face"  id="check-image-2" style="position: relative;
	background:#68DC83;border-radius: 50%;position: relative;height: 22px;width: 22px;	margin-top:4.0cm;margin-left: -2.55mm;" height="24" width="24">
    {{/if}}
        </div>
        <div class="vl-details-2">
           <div class="oval-5"></div>  
        </div>
        <div class="vl-details-3">
           <div class="oval-5"></div>  
        </div>
        <div class="vl-details-4">
           <div class="oval-5"></div>  
        </div>
    </div>
    <div class="first-row">
        <div class="first-row-left">
        {{#if isShowRequestInitaited}}<p id="detais-status"><b>{{mystatus}}</b></p>{{/if}}
        {{#if isShowRequestAccept}}<p id="detais-status" style="color:#68DC83"><b>{{mystatus}}</b></p>{{/if}}
       {{#if isShowQuotationRaised}}<p id="detais-status"><b>{{mystatus}}</b></p>{{/if}}
        <p id="in-detais-status">{{dislapymessage}}.</p>
         </div>
         
          {{#if isShowSupplier}}
         <div class="first-row-right">
             <button class="button-right" {{action 'declinerequest'}}>Decline</button>
             <button class="button-right" {{action 'acceptrequest'}}>Accept</button>
         </div>
         {{/if}}
         {{#if isShowSupquotbutton}}
         <div class="first-row-right">
             <button class="button-right" {{action 'toggleModal'}}>Quotation</button>
             
         </div>
         {{/if}}
         {{#if isShowSupAcctbutton}}
         <div class="first-row-right">
             <button class="button-right" {{action 'declinequotation'}}>Decline</button>
             <button class="button-right" {{action 'acceptquotation'}}>Accept</button>
         </div>
         {{/if}}
    </div>
   
    
    
    {{#if isShowQuotationRaised}}
    <div class="second-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Quotation</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">{{requestid}}</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :{{transactiondetails2.today}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th><b>Expected Delivery</b></th>
                   <th><b>Quantity</b></th>
                    <th><b>Unit</b></th>
                    <th><b>Total Price</b></th>
                 
                  

                </tr>
                <tr id="in-tr-details">
                    <td>{{transactiondetails0.expecteddelivery}}</td>
                    <td>{{transactiondetails2.Quantity}}</td>
                    <td>{{transactiondetails2.Quantity}}</td>
                    <td>{{transactiondetails2.totalprice}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
   
    <div class="third-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Request</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">{{requestid}}</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :{{transactiondetails0today}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th>Supplier</th>
                    <th><b>Material Type</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Delivery By</b></th>

                    <th>shipping address</th>

                </tr>
                <tr id="in-tr-details">
                    <td>{{transactiondetails0.requestto}}</td>
                    <td>{{transactiondetails0.materialtype}}</td>
                    <td>{{transactiondetails0.Quantity}}</td>
                    <td>{{transactiondetails0.expecteddelivery}}</td>
                    <td>{{transactiondetails0.address}}</td>

                </tr>
            </table>
        </div>
    </div>
    {{/if}}
    {{#if isShowRequestInitaited}}
    <div class="fourth-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Request</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">{{requestid}}</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :{{transactiondetails0.today}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th>Supplier</th>
                    <th><b>Material Type</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Delivery By</b></th>
                    <th>shipping address</th>

                </tr>
                <tr id="in-tr-details">
                    <td>{{transactiondetails0.requestto}}</td>
                    <td>{{transactiondetails0.materialtype}}</td>
                    <td>{{transactiondetails0.Quantity}}</td>
                    <td>{{transactiondetails0.expecteddelivery}}</td>
                    <td>{{transactiondetails0.address}}</td>

                </tr>
            </table>
        </div>
    </div>
    {{/if}}
    {{#if isShowRequestAccept}}
    <div class="fourth-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Request</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">{{requestid}}</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :{{transactiondetails0.today}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th>Supplier</th>
                    <th><b>Material Type</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Delivery By</b></th>
                    <th>shipping address</th>

                </tr>
                <tr id="in-tr-details">
                    <td>{{transactiondetails0.requestto}}</td>
                    <td>{{transactiondetails0.materialtype}}</td>
                    <td>{{transactiondetails0.Quantity}}</td>
                    <td>{{transactiondetails0.expecteddelivery}}</td>
                    <td>{{transactiondetails0.address}}</td>

                </tr>
            </table>
        </div>
    </div>
    {{/if}}
</div>
    
    
{{#if isShowingModal}}
{{#modal-dialog close="toggleModal"
               targetAttachment="center"
                  translucentOverlay=true}}
                  
                  {{partial 'quotation'}}
                
{{/modal-dialog}}
{{/if}}