<br/>
<br/>
<br/>
 <div class="timeline-head">Timeline</div>
<div class="container">
  <br/>
  <br/>
  <br/>
 

<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step ">
       <div class="mdl-stepper-circle1"></div>
        <div class="mdl-stepper-title"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
     <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-title2">Requests</div>
       <div class="mdl-stepper-circle"></div>
         <div class="vl"></div>
          <div class="circle" ><div id="request-details">Delayed 152</div></div>
          <div class="vl"></div>
          <div class="circle"><div id="request-details">Accepted 52</div> </div>
          
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
      </div>
       
       <div class="mdl-stepper-step active-step ">
      <div class="upper-line">
        
          <div class="this-circle2"><div id="request-details">Received 152</div></div>
          <div class="vl2"></div>
          <div class="this-circle2"><div id="request-details">Accepted 152</div></div>
          <div class="vl2"></div>
         </div>
        <div class="mdl-stepper-circle"></div>
         <div class="mdl-stepper-title">Quoatation</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
       <div class="mdl-stepper-step active-step ">
         <div class="mdl-stepper-title2" style="margin-left:20px">Purchase&nbsp;Order</div>
         <div class="mdl-stepper-circle"></div>
         <div class="po-style">
         <div class="vl"></div>
          <div class="circle"><div id="request-details">Accepted 152</div></div>
         <!-- <div class="vl"></div>
          <div class="circle"><div id="request-details">Delayed 152</div></div>-->
         
       </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
       <div class="mdl-stepper-step active-step ">
         <div class="upper-line2">
         
          <div class="this-circle3"><div id="request-details">Delayed 152</div></div>
          <div class="vl2"></div>
          <div class="this-circle3"><div id="request-details">Delivered 152</div></div>
          <div class="vl2"></div>
         </div>
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Delivery&nbsp;Order</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-title2">&nbsp;Invoice</div>
        <div class="mdl-stepper-circle"></div>
            <div class="io-style">
              <div class="vl"></div>
              <div class="circle"><div id="request-details">Raised 152</div></div>
              <div class="vl"></div>
              <div class="circle"><div id="request-details">Approved 152</div></div>
         </div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
        <div class="mdl-stepper-step active-step ">
          <div class="upper-line3">
         
          <div class="this-circle3"><div id="request-details">Iniaited 152</div></div>
          <div class="vl2"></div>
          <div class="this-circle3"><div id="request-details">Paid 152</div></div>
          <div class="vl2"></div>
         </div>
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Payments</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step ">
       <div class="mdl-stepper-circle2"></div>
        <div class="mdl-stepper-title"></div>
        <div class="dl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      
    </div>



</div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-4">

<div class="middle-container">
  <p style="font-size:14px"> <b>Delivery Overvirew</b></p>

<div style="width: 200px;position:relative;">
  <div style="position: absolute;
top: 0;
left: 0;
height: 200px;
width: 200px;
border-radius: 50%;
clip: auto;background: #68DC83;">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
clip: rect(0px, 50px, 200px, 0px);"></div>
  </div>
  <div id="slice2" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(216deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
-webkit-transform: rotate(90deg);
clip: rect(0px, 100px, 100px, 0px);
background-color: #FF923F;;"></div>
  </div>
  <div id="slice3" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(306deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #499EF6;
-webkit-transform: rotate(36deg);
clip: rect(0px, 100px, 100px, 0px);"></div>
  </div>
  <div id="slice4" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(342deg);">
   
  </div>
  <div id="slice5" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(356.4deg);">
    
  </div>
  <div style="position: absolute;
border-radius: 50%;
top: 50px;
left: 50px;
background:white;
width: 100px;
height: 100px;
display: block;
clip: auto;"></div>
</div>

<div class="lower-row">
  <div class='is-grouped'>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle1"></button></div>
       <div class='button'> &nbsp;Shipped</div>
  </div>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle2"></button></div>
       <div class='button' >&nbsp; Delayed</div>
  </div>
   <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle3"></button></div>
       <div class='button'>&nbsp; Delivered</div>
  </div>
</div>
</div>
</div>
  </div>
  <div class="col-sm-4">
<div class="middle-container">
  <p style="font-size:14px"> <b>Delivery Overvirew</b></p>

<div style="width: 200px;position:relative;">
  <div style="position: absolute;
top: 0;
left: 0;
height: 200px;
width: 200px;
border-radius: 50%;
clip: auto;background: #68DC83;">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
clip: rect(0px, 50px, 200px, 0px);"></div>
  </div>
  <div id="slice2" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(216deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
-webkit-transform: rotate(90deg);
clip: rect(0px, 100px, 100px, 0px);
background-color: #FF923F;;"></div>
  </div>
  <div id="slice3" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(306deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #499EF6;
-webkit-transform: rotate(36deg);
clip: rect(0px, 100px, 100px, 0px);"></div>
  </div>
  <div id="slice4" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(342deg);">
   
  </div>
  <div id="slice5" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(356.4deg);">
    
  </div>
  <div style="position: absolute;
border-radius: 50%;
top: 50px;
left: 50px;
background:white;
width: 100px;
height: 100px;
display: block;
clip: auto;"></div>
</div>

<div class="lower-row">
  <div class='is-grouped'>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle1"></button></div>
       <div class='button'> &nbsp;Shipped</div>
  </div>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle2"></button></div>
       <div class='button' >&nbsp; Delayed</div>
  </div>
   <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle3"></button></div>
       <div class='button'>&nbsp; Delivered</div>
  </div>
</div>
</div>
</div>
  </div>
</div>

<div class="last-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="col-sm-6" id="left-part">
        <p>Inventory</p>
      </div>
      <div class="col-sm-6">
         <span><input type="text" id="myInput" onkeyup="myFunction()"  title="Type in a name"><img src="assets/images/search.svg" alt="Smiley face" width="22" height="22">  &nbsp;&nbsp;&nbsp; <span style="color:#499EF6"{{action 'toggleModal'}}>New Request <img src="assets/images/forward.svg" alt="Smiley face" width="15" height="9" style="margin-bottom:1px"></span> </span>
     </div>
    <div class="in-left-part-table">
      <table id="myTable-inventory">
  <tr  id="myTable-inventory-th" >
    <th>Item Name</th>
    <th>Current Quantity</th>
    <th>Reorder Quantity</th>
     
  </tr>
  {{#each mydetails as |item|}}
  <tr id="myTable-inventory-td">
    <td>{{item.itemname}}</td>
    <td>{{item.cuquantity}}</td>
    <td>{{item.requantity}}</td>
    
  </tr>
  {{/each}}
  
</table>

    </div>
      </div>
    <div class="col-sm-4" id="dashboard-right-container">
      <div class="heading-right">
        Track Deliveries
      </div>
      <div class="dashboard-track">
       <div id="head-dashboard-track">
         Engine Blocks
       </div>
       <p style="color: #536C89;font-family: Avenir;font-size: 13px;font-style: oblique;font-weight: 900;"> Retailer :<span style="font-weight: 300;color: #022351;font-size: 13px;">TVS Clinton Ltd.</span></p>
      <p style="margin-top:-3mm;color: #677B92;	font-family: Avenir;	font-size: 12px;">Reached Thambaram will be delived on Monday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3B89F3;	font-family: Avenir;	font-size: 13px;	font-weight: 900;text-decoration: underline;">Track</span></p>
      </div>
      <div class="dashboard-track">
       <div id="head-dashboard-track">
         Engine Blocks
       </div>
       <p style="color: #536C89;font-family: Avenir;font-size: 13px;font-style: oblique;font-weight: 900;"> Retailer :<span style="font-weight: 300;color: #022351;font-size: 13px;">TVS Clinton Ltd.</span></p>
      <p style="margin-top:-3mm;color: #677B92;	font-family: Avenir;	font-size: 12px;">Reached Thambaram will be delived on Monday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3B89F3;	font-family: Avenir;	font-size: 13px;	font-weight: 900;text-decoration: underline;">Track</span></p>
      </div>
    </div>
  </div>
</div>


{{#if isShowingModal}}
{{#modal-dialog close="toggleModal"
               targetAttachment="center"
                  translucentOverlay=true}}
                  
                  {{partial 'newrequest'}}
                
{{/modal-dialog}}
{{/if}}