<nav class="navbar  navbar-fixed-top" style="background-color:#499EF6">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ><img src="assets/images/logo.png" alt="Smiley face"  id="check-image-2"  height="40" width="90"></a>
    </div>
    {{#if showUser}}
    <ul class="nav navbar-nav navbar-left">
      <li class="mynavbar-right"{{action 'gotodashboard'}}> Dashboard</li>
      
      &nbsp; &nbsp;
      <li  class="mynavbar-right" {{action 'gotorequests'}}>Requests</li>

     
    </ul>
    {{/if}}
   
    {{#if showUser}}
   <ul class="nav navbar-nav navbar-right">
           <li class="mynavbar-right"> {{usertype}}</li> 
          <li class="mynavbar-right" {{action 'logout'}}>Logout</li> 
   </ul>
       
    <!---<li  class="mynavbar-right"{{action 'logout'}}>Log Out</li>-->
    {{else}}
     <ul class="nav navbar-nav navbar-right">
      
      <li class="mynavbar-right"> About Us</li>
      
      &nbsp; &nbsp;
      <li  class="mynavbar-right">Contact Us</li>
    
      <li  class="mynavbar-right"{{action 'toggleModal'}}>Log In</li></ul>
    {{/if}}  
    
  </div>
</nav>