
<br/>
<br/>
<br/>
<br/>

<div align="right">
    <span><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"><img src="assets/images/search.svg" alt="Smiley face" width="35" height="35"></span>
</div>
<div class="userome-container">
<table id="myTable">
  <tr id="mytable-th">
    <th>Material Type</th>
    <th>Request Id</th>
    <th>Date</th>
     <th>Quantity</th>
     <th>Requested Delivery</th>
      <th>shipping address</th>
      <th>Status</th>
  </tr>
{{#each showrecord   as |item|}}
  <tr id="mytable-td">
   <td>{{item.myrecord.transactiondetails.materialtype}}</td>
   
    <td><a href=# {{action   'gotorequest' item.key}}>{{item.key}}</a></td>
   
    <td>{{item.myrecord.transactiondetails.today}}</td>
    <td>{{item.myrecord.transactiondetails.Quantity}}</td>
    <td>{{item.myrecord.transactiondetails.expecteddelivery}}</td>
    <td>{{item.myrecord.transactiondetails.address}}</td>
  
    <td>{{item.mystatus}}</td>
  
    
  </tr>
  {{/each}}
  
</table>

</div>